<template>
  <section class="calendar-container">
    <p>{{ monthName }}/{{ year }}</p>
    <header class="weekdays">
      <p
        v-for="(day, index) in weekdays"
        :key="day + index"
        class="weekday text-center"
      >
        {{ day }}
      </p>
    </header>

    <section class="month">
      <CalendarDay
        v-for="(day, key) in days"
        :key="day.number + key"
        :day="day.number"
        :today="isToday(day.number)"
        :tasks="day.tasks"
      />
    </section>
  </section>
</template>

<script>
import CalendarDay from '@/components/Calendar/CalendarDay.vue';
import { mapState } from 'vuex';

export default {
  name: 'CalendarComponent',

  components: {
    CalendarDay,
  },

  props: {
    year: {
      type: [Number, String],
      required: true,
    },
    month: {
      type: [Number, String],
      required: true,
    },
  },

  computed: {
    ...mapState({
      tasks: ({ tasks }) => tasks,
    }),

    weekdays() {
      return [
        'Sun',
        'Mon',
        'Tue',
        'Wed',
        'Thu',
        'Fri',
        'Sat',
      ];
    },

    days() {
      const prependZero = (number) => `0${number}`.slice(-2);

      const dateToString = (year, month, day) => (
        `${year}-${prependZero(month + 1)}-${prependZero(day)}`
      );

      const getTasksByDate = (date) => (
        this.tasks.filter((task) => task.date === date)
      );

      const date = new Date(this.year, this.month, 1);

      const days = [];

      while (date.getMonth() === this.month) {
        const day = new Date(date);
        const dateString = dateToString(this.year, this.month, day.getDate());
        days.push({
          dayOfWeek: day.getDay(),
          number: day.getDate(),
          tasks: getTasksByDate(dateString),
        });
        date.setDate(date.getDate() + 1);
      }

      const previousdays = days[0].dayOfWeek;

      for (let day = 0; day < previousdays; day += 1) {
        days.unshift({
          number: null,
        });
      }

      return days;
    },

    monthName() {
      const day = new Date(this.year, this.month, 1);
      return day.toLocaleString('en-US', { month: 'long' });
    },
  },

  methods: {
    isToday(day) {
      const today = new Date();
      return today.getFullYear() === this.year
        && this.month === today.getMonth()
        && today.getDate() === day;
    },
  },

};
</script>

<style lang="scss" scoped>
.calendar-container {
  max-width: 700px;
  width: 100%;

  & > .weekdays {
    width: 100%;

    & > .weekday {
      display: inline-block;
      max-width: 14.28%;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100px;
    }
  }

  & > .month {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
</style>
