<template>
  <div :class="[ 'day', { disabled: !day } ]">
    <span
      :class="['day-number', { 'today': today }]"
    >
      {{ day || 0 }}
    </span>

    <ul class="tasks-list">
      <ReminderModal
        v-for="(task) in sortedTasks"
        :key="task.id"
        title="Edit reminder"
        :data="task"
        :btn-text="task.note"
        :btn-color="task.color"
        no-reset
        @submit="edit"
      ></ReminderModal>
    </ul>
  </div>
</template>

<script>
import ReminderModal from '@/components/Forms/ReminderModal.vue';
import { mapActions } from 'vuex';

export default {
  name: 'CalendarDay',

  components: {
    ReminderModal,
  },

  props: {
    day: [String, Number],

    today: Boolean,

    tasks: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    sortedTasks() {
      const tasks = [...this.tasks];
      return tasks.sort((a, b) => {
        if (a.time > b.time) {
          return 1;
        }
        return -1;
      });
    },
  },

  methods: {
    ...mapActions({
      editReminder: 'editTask',
    }),

    edit(info) {
      this.editReminder(info);
      this.$emit('update');
    },
  },
};
</script>

<style lang="scss" scoped>
.day {
  border: 1px solid black;
  display: inline-block;
  height: 100px;
  max-width: 14.28%;
  overflow: hidden;
  padding: 5px;
  width: 100px;

  @media (max-width: 700px) {
    height: 50px;
  }

  &.disabled {
    visibility: hidden;
  }

  & > .today {
    background-color: red;
    border-radius: 50%;
    color: white;
    padding: 1px 6px 1px 5px;
    text-align: center;
  }

  & > .tasks-list {
    padding: 0;
    max-height: 80%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

</style>

<style lang="scss">
.day {
  & > .tasks-list > .v-btn {
    height: 20px;
    overflow: hidden;
    padding: 0 5px;
    text-align: left;
    width: 100%;

    & > .v-btn__content {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: none;
      letter-spacing: 0;
      width: 100%;
    }
  }
}

</style>
