<template>
  <section>
    <v-row
      class="pa-2"
    >
      <v-col
        cols="auto"
      >
        <v-btn class="mx-1" @click="previous">Previous</v-btn>
        <v-btn class="mx-1"  @click="next">Next</v-btn>
      </v-col>

      <v-spacer></v-spacer>

      <v-col
        cols="auto"
      >
        <v-btn @click="today">Today</v-btn>
      </v-col>

      <v-spacer></v-spacer>

      <v-col
        cols="auto"
      >
        <ReminderModal
          @submit="addTask"
        />
      </v-col>
    </v-row>

    <v-row
     justify="center"
     class="pa-6"
    >
      <CalendarComponent
        :month="month"
        :year="year"
      />
    </v-row>
  </section>
</template>

<script>
import ReminderModal from '@/components/Forms/ReminderModal.vue';
import CalendarComponent from '@/components/Calendar/CalendarComponent.vue';
import { mapActions } from 'vuex';

export default {
  name: 'CalendarView',

  components: {
    ReminderModal,
    CalendarComponent,
  },

  data() {
    return {
      month: new Date().getMonth(),
      year: new Date().getFullYear(),
    };
  },

  mounted() {
    this.fetchCountries();
  },

  methods: {
    ...mapActions({
      fetchCountries: 'fetchCountries',
      setTask: 'setTask',
    }),

    addTask(model) {
      this.setTask(model);
    },

    previous() {
      if (this.month === 0) {
        this.month = 11;
        this.year -= 1;
        return;
      }

      this.month -= 1;
    },

    next() {
      if (this.month === 11) {
        this.month = 0;
        this.year += 1;
        return;
      }

      this.month += 1;
    },

    today() {
      const date = new Date();
      this.month = date.getMonth();
      this.year = date.getFullYear();
    },
  },
};
</script>
