<template>
  <v-dialog
    v-model="show"
    max-width="600px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-on="on" v-bind="attrs" :color="btnColor">{{ btnText }}</v-btn>
    </template>

    <v-card>
      <v-card-title>{{ title }}</v-card-title>

      <v-card-text>
        <slot name="content" />
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          v-if="cancelBtnText"
          color="danger"
          text
          @click="close"
        >
          {{ cancelBtnText }}
        </v-btn>

        <v-btn
          color="primary"
          text
          :disabled="submitDisabled"
          @click="accept"
        >
          {{ acceptBtnText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ModalComponent',

  data() {
    return {
      show: this.showModal,
    };
  },

  props: {
    showModal: {
      type: Boolean,
      required: true,
    },

    btnColor: {
      type: String,
      default: '#fafafa',
    },

    btnText: {
      type: String,
      required: true,
    },

    title: {
      type: String,
      default: '',
    },

    cancelBtnText: {
      type: String,
      default: '',
    },

    acceptBtnText: {
      type: String,
      default: 'OK',
    },

    submitDisabled: {
      type: Boolean,
      default: true,
    },
  },

  methods: {
    close() {
      this.$emit('cancel');
      this.show = false;
    },

    accept() {
      this.$emit('accept');
      this.show = false;
    },
  },
};
</script>
