<template>
  <ModalComponent
    :title="title"
    cancel-btn-text="cancel"
    :btn-text="btnText"
    :btn-color="btnColor"
    :show-modal="modal"
    :submit-disabled="!validation"
    @accept="submit"
    @cancel="close"
  >
    <template slot="content">

      <v-form
        ref="form"
        v-model="validation"
      >
        <v-container>
          <v-row>
            <p>Fields marked with * are required.</p>
          </v-row>

          <v-row center>
            <v-text-field
              v-model="formModel.note"
              :counter="30"
              :rules="rules"
              prepend-icon="mdi-calendar-text"
              hint="This is a required field."
              label="* Reminder"
              required
            ></v-text-field>
          </v-row>

          <v-row center>
            <v-menu
              ref="menu"
              v-model="datePicker"
              :close-on-content-click="false"
              :return-value.sync="formModel.date"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="formModel.date"
                  label="* Date"
                  :rules="rules"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="formModel.date"
                no-title
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="datePicker = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.menu.save(formModel.date)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-row>

          <v-row center>
            <v-menu
              ref="timepicker"
              v-model="timePicker"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="formModel.time"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="formModel.time"
                  label="Time"
                  prepend-icon="mdi-clock-time-four-outline"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker
                v-if="timePicker"
                v-model="formModel.time"
                full-width
                @click:minute="$refs.timepicker.save(formModel.time)"
              ></v-time-picker>
            </v-menu>
          </v-row>

          <v-row center>
            <v-select
              v-model="formModel.country"
              prepend-icon="mdi-map-marker"
              label="Country"
              :items="countries"
              @change="getCities"
            ></v-select>
          </v-row>

          <v-row center>
            <v-select
              v-model="formModel.city"
              prepend-icon="mdi-map-marker"
              label="City"
              :items="cities"
              :disabled="!cities.length || loadingCities"
            ></v-select>
          </v-row>

          <v-row>
            <v-col class="pa-0 pr-3" cols="6" sm="12">
              <v-text-field
                v-model="formModel.color"
                label="Color"
                prepend-icon="mdi-format-color-fill"
                readonly
              ></v-text-field>
            </v-col>

            <v-col cols="6" sm="12">
              <v-row justify="center">
                <v-color-picker
                  v-model="formModel.color"
                  flat
                />
              </v-row>
          </v-col>
          </v-row>
        </v-container>
      </v-form>

    </template>
  </ModalComponent>
</template>

<script>
import ModalComponent from '@/components/Common/ModalComponent.vue';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'ReminderModal',

  components: {
    ModalComponent,
  },

  props: {
    data: Object,

    title: {
      type: String,
      default: 'New reminder',
    },

    btnColor: {
      type: String,
      default: '',
    },

    btnText: {
      type: String,
      default: 'New',
    },

    noReset: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      modal: false,
      validation: false,
      rules: [
        (field) => !!field || 'Field is required',
      ],
      formModel: {
        note: '',
        date: '',
        time: '',
        country: '',
        city: '',
        color: '#FFF',
      },
      datePicker: false,
      timePicker: false,
      colorPicker: false,
      loadingCities: false,
    };
  },

  mounted() {
    if (this.data) {
      this.formModel = { ...this.data };
    }
  },

  computed: {
    ...mapState({
      countries: (state) => state.countries,
      cities: (state) => state.cities,
    }),

    swatchStyle() {
      const { formModel: { color }, colorPicker } = this;
      return {
        backgroundColor: color,
        cursor: 'pointer',
        height: '30px',
        width: '30px',
        borderRadius: colorPicker ? '50%' : '4px',
        transition: 'border-radius 200ms ease-in-out',
      };
    },
  },

  methods: {
    ...mapActions({
      fetchCities: 'fetchCities',
    }),

    close() {
      this.modal = false;
      this.$refs.form.resetValidation();
      if (!this.noReset) {
        this.formModel = {
          note: '',
          date: '',
          time: '',
          city: '',
          color: '#FFF',
        };
      }
    },

    async getCities() {
      this.loadingCities = true;
      await this.fetchCities(this.formModel.country);
      this.loadingCities = false;
    },

    submit() {
      this.$emit('submit', this.formModel);
      this.$refs.form.resetValidation();
      if (!this.noReset) {
        this.formModel = {
          note: '',
          date: '',
          time: '',
          city: '',
          color: '#FFF',
        };
      }
    },
  },
};
</script>
